body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background: #3b3f46;         
    color: white;
    padding: 20px;
    overflow: hidden;
}

.logo {
    float: left;
    margin: 0;
    margin-left: 95px;
}

.navegacion {
    float: right;
    margin: 0;
    margin-right: 100px;
}

.navegacion li {
    display: inline;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}

.navegacion a {
    color: white;
    text-decoration: none;
}

.principal {
    background: #eeeeee;
    padding: 30px;
    overflow: hidden;
}

.imagen {
    width:40%;
    float:left;
    margin:0;
    padding-top:60px;
}

.imagen img {
    width:50%;
    margin-left: 150px;
    object-fit: cover;
}

.texto {
    float: right;
    width: 50%;
}

.texto h1 {
    color: #ff2f00;               
    font-size: 50px;
}

.texto button {
    background: #ff2f00;       
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.sobre-mi {
    background: #ff2f00;          
    color: white;
    text-align: center;
    padding: 30px;
}

.foto {
    width: 250px;
    border-radius: 150px;
}

.proyectos {
    text-align: center;
    padding: 10px;
}

.contenedor-proyectos {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.tarjeta{
    width:23%;
    float:left;
    margin:1%;
    background:white;
    border:1px solid #ccc;
    text-align:center;
    box-sizing:border-box;
    height:410px; 
    padding-bottom:60px; 
    border-radius: 6px;
    display: grid;
    justify-items: center;
}


.tarjeta img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


.tarjeta p{
    font-size:14px;
    color:#6B6969;
    padding:0 10px;
    margin-top: -16px;
}

.tarjeta button{
    background:#F54927;
    color:white;
    border:none;
    padding:10px 15px;
}


 .Button1 {
    background: #ff2f00;          
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}


.footer {
    background: #3b3f46;     
    text-align: right;    
    color: white;
    padding: 20px;
    margin-top: 40px;
}


@media screen and (max-width: 1024px) {
    .logo {
        margin-left: 50px;
    }

    .navegacion {
        margin-right: 50px;
    }

    .principal {
        padding: 20px;
    }

    .imagen, .texto {
        width: 100%;
        float: none;
        text-align: center;
    }

    .imagen img {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .texto h1 {
        font-size: 40px;
    }

    .texto p {
        font-size: 18px;
    }

    .tarjeta {
        height: 420px;
        width: 45%;
        margin: 20px 2.5%;
    }
}

@media screen and (max-width: 768px) 
    

    {
    .menu {
        padding: 15px;
    }

    .logo {
        margin-left: 20px;
        float: none;
        text-align: center;
    }

    .navegacion {
        margin-right: 0;
        float: none;
        text-align: center;
        margin-top: 10px;
    }

    .navegacion li {
        display: block;
        margin: 10px 0;
    }

    .texto h1 {
        font-size: 32px;
    }

    .contenedor-proyectos{
        display: flex;
        flex-wrap: wrap;
    }




    .tarjeta {
        height: 10%;
        width: 90%;
        margin: 10px auto;
    }

    .sobre-mi p {
        font-size: 20px;
    }

    .sobre-mi img.foto {
        width: 200px;
    }
}

@media (max-width: 300px){

.principal{
    padding:20px 0px;
    max-height: 390px;
}

.texto h1{
    font-size:24px;
}

.texto button{
    font-size:16px;
    padding:8px;
}

 .tarjeta{
       width:100%;
       margin:2%;
       height:auto;
       padding-bottom:20px;
    }

    .tarjeta button{
        transform:none;
        margin-top:10px;
    }

}


